@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Italic.woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Thin.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-ThinItalic.woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-LightItalic.woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Medium.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-MediumItalic.woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-BoldItalic.woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-Black.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Azo Sans";
  src: url("../public/fonts/AzoSans/AzoSans-BlackItalic.woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Bely Display";
  src: url("../public/fonts/BelyDisplay/BelyDisplayW00Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-gray-5 text-gray-500 font-prim;
  }
  p {
    @apply font-prim text-base font-normal leading-loose tracking-wide text-gray-500;
  }
}

@layer components {
  .badge {
    @apply mb-0-5 inline-flex items-center justify-center px-0-75 py-0-25 bg-gray-800 rounded-lg mr-0-5 last:mr-0;
  }
  .badge__content {
    @apply text-sm font-normal leading-normal text-white;
  }
  .badge__content--sm {
    @apply text-sm font-light leading-tight text-white;
  }
  .display-main {
    @apply text-4xl md:text-2xl mb-1 font-comp font-bold;
  }
  .display-comp {
    @apply text-2xl md:text-1xl mb-1 font-comp font-bold;
  }
  .txt-h1 {
    @apply text-1xl mb-0-75 font-prim font-semibold;
  }
  .txt-h2 {
    @apply text-0xl mb-0-75 font-prim font-semibold;
  }
  .txt-h3 {
    @apply text-xxxl mb-1 font-prim font-semibold;
  }
  .txt-h4 {
    @apply text-xxl mb-1 font-prim font-semibold;
  }
  .txt-h5 {
    @apply text-xl mb-1 font-prim font-semibold;
  }
  .txt-h6 {
    @apply text-lg mb-1 font-prim font-semibold;
  }
  .guides {
    @apply h-full w-full;
  }
  .guides__wrapper {
    @apply pointer-events-none fixed top-0 left-0 w-full h-screen overflow-hidden z-0;
  }
  .guides__container {
    @apply container relative justify-between flex h-full;
  }
}

.guides__guide {
  width: 1px;
  background: linear-gradient(
    180deg,
    #57575727,
    #57575727 50%,
    transparent 0,
    transparent
  );
  background-size: 1px 8px;
  height: 100%;
}

.guides__guide:first-of-type,
.guides__guide:last-of-type {
  background: #7f7f7f2e;
}

@media screen and (max-width: 1250px) {
  .guides {
    max-width: calc(100vw - 0px);
  }
}

@media screen and (max-width: 768px) {
  .guides__guide:nth-of-type(2n) {
    visibility: hidden;
  }
}

@media screen and (max-width: 599px) {
  .guides__guide:nth-of-type(3n) {
    opacity: 0.357;
  }
}

.project-wrapper-top:first-child {
  margin-top: -50px;
}
.project-wrapper-top {
  height: 600px;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 50px));
  margin-top: -51px;
}
.project-wrapper-bottom {
  height: 600px;
  width: 100vw;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0 100%);
  margin-top: -51px;
}

#gradient-canvas-1 {
  --gradient-color-1: #111010;
  --gradient-color-2: #e01a17;
  --gradient-color-3: #111010;
  --gradient-color-4: #151313;
}

#gradient-canvas-2 {
  --gradient-color-1: #11344a;
  --gradient-color-2: #010910;
  --gradient-color-3: #010910;
  --gradient-color-4: #010910;
}
